* {
    box-sizing: border-box;
    transition: 0.1s;
    font-family: 'Open Sans', sans-serif;
    padding:0;
    margin:0;
}
nav {
    position: fixed;
    padding: 1rem;
    height: 8rem;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
.nav-logo{
    position: absolute;
    left: 13rem;
    top: 2rem;
}
.burger-menu {
    position: relative;
}
.burger-icon {
    position: fixed;
    top: 24px;
    left: 108rem;
    font-size: 2rem;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    z-index: 1001;
}
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95); /* Black background with opacity */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%); /* Initially hidden above the viewport */
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
  }
.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}  
.menu-nav ul li {
    margin: 20px 0;
}
.menu-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
}
.menu-nav ul li a:hover {
    color: #007bff;
}

.hero-section{
    position: relative;
    margin-bottom: 90px;
}
.hero-section:before{
    left: 0;
    top: 50%;
    margin-top: -60px;
    position: absolute;
    width: 50%;
    background-color: #244AC2;
    display: block;
    content: "";
    height: 120px;
    z-index: 1;
    transition: left 0.5s ease; 
}
.hero-section:after{
    right: 0;
    top: 50%;
    margin-top: -60px;
    position: absolute;
    width: 50%;
    background-color: #000000;
    display: block;
    content: "";
    height: 120px;
    z-index: -1;
}
h3{
    z-index: 10;
    color: #fff;
}
.carousel {
    position: relative;
    overflow: hidden;
    width: 85%; 
    height: 80vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.carousel-slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-slide.active {
    left: 0; 
}
.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button.next {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 10rem;
    cursor: pointer;
}
button.next:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}  

/* Info Section */
.home-intro-section{
    padding: 0 20px;
    margin-bottom: 90px !important; 
}
.home-intro-section, .info-section{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
p{
    width: 60%;
    display: block;
    font-size: 24px;
    line-height: 36px;
    font-weight: 00;
    color: #061C2C;
    float: left;
}
.logos{
    float: right;
    width: 416px;
    height: 42px;
    background-image: url(/assets/images/logos.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 34px;
}

/* Box Section */
.home-ctas{
    padding: 0 20px ;
    margin-bottom: 4rem !important;
}
.home-ctas, .inner{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.box-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;
}
.box{
    width: 29rem;
}
.box:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.container{
    width: 90%;
    height: 6rem;
}
.box, span a{
    display: block;
    background-color: #061C2C;
    position: relative;
    padding: 98px 0 0 32px;
    background-image: url(/assets/images/Box.png);
    background-repeat: no-repeat;
    background-position: top 31px left 32px;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

/* Mini Box Section */
.mb-section{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}
.box-section{
    margin-bottom: 3rem;
}
.m-box{
    display: flex;
    padding: 0;
    overflow: hidden;
    width: 90%;
}
.mb-section a{
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 16px;
    background-color: #244AC2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-image: url(/assets/images/MBox.png);
}
.mb-section a:hover{
    background-color: #061C2C;
}
/* media queries */
@media screen and (max-width: 840px) {
    nav {
        height: 6rem;
    }
    .nav-logo{
        left: 2rem;
        top: 2rem;
    }
    .burger-menu {
        position: relative;
    }
    .burger-icon {
        top: 20px;
        left: 44rem;
        font-size: 2.5rem;
    }
    .hero-section:after{
        display: none;
    }
    p{
        width: 100%;
        font-weight: 100;
        color: #636363;
    }
    .box{
        width: 14rem;
    }
    .box, span a{
        padding: 98px 0 0 32px;
        background-position: top 31px left 32px;
        font-size: 1.5rem;
    }
    .mb-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .m-box{
        margin-bottom: 2rem;
    }
    .carousel {
        position: relative;
        overflow: hidden;
        width: 100%; 
        margin: 0 auto;
    }
}
@media screen and (max-width: 480px) {
    p{
        width: 100%;
        font-weight: 100;
        color: #636363;
    }
    .box-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .box{
        width: 24rem;
        height: 2rem;
        margin-bottom: 2rem;
    }
    .box, span a{
        font-size: 1.4rem;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 100px;
        height: 6.5rem;
    }
    .mb-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .m-box{
        margin-bottom: 1rem;
        width: 95%;
        padding: 0;
    }
    .carousel {
        position: relative;
        overflow: hidden;
        width: 100%; 
        margin: 0 auto;
    }
}