* {
    box-sizing: border-box;
    transition: 0.1s;
    font-family: 'Open Sans', sans-serif;
    padding:0;
    margin:0;
}
.site-header{
    height: 8rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: 0.3s;
    z-index: 50;
}
.nav-logo{
    position: absolute;
    left: 75px;
    top: 18px;
}
.burger-menu {
    position: relative;
}
.burger-icon {
    position: fixed;
    top: 24px;
    left: 108rem;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    z-index: 11;
}
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translateY(-100%); */
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
    display: none;
}
.menu-overlay.active {
    display: flex;
}
.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}  
.menu-nav ul li {
    margin: 20px 0;
}
.menu-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
}
.menu-nav ul li a:hover {
    color: #007bff;
}

.hero-section{
    position: relative;
    margin-bottom: 90px;
}
.hero-section:before{
    left: 0;
    top: 50%;
    margin-top: -60px;
    position: absolute;
    width: 50%;
    background-color: #244AC2;
    display: block;
    content: "";
    height: 120px;
    width: 160px;
    z-index: 1;
    transition: left 0.5s ease; 
}
.hero-section:after{
    right: 0;
    top: 50%;
    margin-top: -60px;
    position: absolute;
    width: 260px;
    background-color: #000000;
    display: block;
    content: "";
    height: 120px;
    z-index: -1;
}
h3{
    z-index: 20;
    left: 0%;
    top: 50%;
    margin-top: -60px;
    position: absolute;
    background-color: #244AC2;
    display: block;
    height: 120px;
    padding-left: 40px;
    padding-right: 80px;
    font-size: 25px;
    font-weight: 200 !important;
    color: #fff;
    line-height: 120px;
    text-transform: uppercase;
    transition-property: left;
    transition-duration: 0.6s;
}
.carousel-section{
    margin-top: 8rem;
}
.carousel {
    position: relative;
    overflow: hidden;
    width: 85%; 
    height: 80vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}
.carousel-slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-slide.active {
    position: relative;
    left: 0;
    transition: 1s;
}
.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button.next {
    position: absolute;
    top: 36%;
    right: 80px;
    /* background-image: url(/assets/images/arrow.png) !important; */
    width: 80px;
    height:80px;
    /* transform: translateY(-50%); */
    background: none;
    border: none;
    font-size: 10rem;
    cursor: pointer;
    z-index: 10;
}
button.next:hover {
    transform: translateX(20px);
    transition: transform 0.3s ease;
}
.pagination{
    position: absolute;
    display: block;
    right: 14rem;
    bottom: 40px;
    z-index: 10;
    text-align: center;
}
.pagination span{
    background-image: url(/assets/images/indicator.png);
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1px;
}
.pagination span.active{
    opacity: 0.39;
}
/* Info Section */
.home-intro-section{
    padding: 0 20px;
    margin-bottom: 90px !important; 
}
.home-intro-section, .info-section{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
p{
    width: 60%;
    display: block;
    font-size: 24px;
    line-height: 36px;
    font-weight: 00;
    color: #061C2C;
    float: left;
}
.logos{
    float: right;
    width: 416px;
    height: 42px;
    background-image: url(/assets/images/logos.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 34px;
}

/* Box Section */
.home-ctas{
    padding: 0 20px ;
    margin-bottom: 4rem !important;
}
.home-ctas, .inner{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.box-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;
}
.box{
    width: 29rem;
}
.box:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.container{
    width: 90%;
    height: 6rem;
}
.box, span a{
    display: block;
    background-color: #061C2C;
    position: relative;
    padding: 98px 0 0 32px;
    background-image: url(/assets/images/Box.png);
    background-repeat: no-repeat;
    background-position: top 31px left 32px;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

/* Mini Box Section */
.mb-section{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}
.box-section{
    margin-bottom: 3rem;
}
.m-box{
    display: flex;
    padding: 0;
    overflow: hidden;
    width: 90%;
}
.mb-section a{
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 16px;
    background-color: #244AC2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-image: url(/assets/images/MBox.png);
}
.mb-section a:hover{
    background-color: #061C2C;
}
footer .container{
    width: 100%;
    margin-bottom: 0rem;
    height: 4rem;
}
h1{
    text-align: center;
    text-transform:capitalize;
    font-family: "Kalnia Glaze", serif;
    font-size: 24px;
    font-weight: 600;
    color: #061C2C;
}
/* media queries */
@media screen and (max-width: 840px) {
    nav {
        height: 100px;
        padding: 0;
    }
    .site-header{
        height: 100px;
        padding: 0;
    }
    .nav-logo{
        left: 20px;
        top: 20px;
        width: 120px !important;
        padding: 0;
    }
    .burger-menu {
        position: relative;
    }
    .burger-icon {
        top: 20px;
        left: 44rem;
        font-size: 2.5rem;
        padding: 0;
    }
    .hero-section:after{
        display: none;
    }
    .hero-section:before{
        display: none;
    }
    p{
        width: 100%;
        font-weight: 100;
        color: #636363;
    }
    .box{
        width: 14rem;
    }
    .box, span a{
        padding: 98px 0 0 32px;
        background-position: top 31px left 32px;
        font-size: 1.5rem;
    }
    .mb-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .m-box{
        margin-bottom: 2rem;
    }
    .carousel {
        position: relative;
        overflow: hidden;
        width: 100%; 
        margin: 0 auto;
        height: 40vh;
        padding: 0;
    }
    .carousel-section{
        margin-top: 100px;
    }
    .carousel-slide {
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: left 0.5s ease;
    }
    button.next {
        top: 20%;
        right: 20px;
    }
    h3{
        height: 50px;
        top: 70%;
        margin-top: -50px;
        line-height:50px;
        font-size: 20px;
        font-weight: 500 !important;
    }
    .pagination{
        display: none;
    }
}
@media screen and (max-width: 480px) {
    p{
        width: 100%;
        font-weight: 100;
        color: #636363;
    }
    .box-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .box{
        width: 24rem;
        height: 2rem;
        margin-bottom: 2rem;
    }
    .box, span a{
        font-size: 1.4rem;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 100px;
        height: 6.5rem;
    }
    .mb-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .m-box{
        margin-bottom: 1rem;
        width: 95%;
        padding: 0;
    }
    .carousel {
        position: relative;
        overflow: hidden;
        width: 100%; 
        margin: 0 auto;
    }
    .burger-icon {
        top: 10px;
        left: 360px;
        font-size: 2rem;
        padding: 0;
    }
    .nav-logo{
        left: 10px;
        top: 10px;
        width: 120px !important;
        padding: 0;
    }
    nav {
        height: 70px;
        padding: 0;
    }
    .site-header{
        height: 70px;
        padding: 0;
    }
    h3{
        height: 100px;
        width: 200px;
        top: 82%;
        margin-top: -50px;
        line-height:30px;
        font-size: 20px;
        font-weight: 500 !important;
    }
    
}